name: Build Debian Package

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  build-deb:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up build directories
        run: |
          mkdir -p makedown_deb/DEBIAN
          mkdir -p makedown_deb/usr/bin
          mkdir -p makedown_deb/usr/share/applications
          mkdir -p makedown_deb/usr/share/pixmaps

      - name: Copy files
        run: |
          cp bin/makedown makedown_deb/usr/bin/makedown
          chmod +x makedown_deb/usr/bin/makedown
          cp share/applications/makedown.desktop makedown_deb/usr/share/applications/makedown.desktop
          cp share/pixmaps/makedown.png makedown_deb/usr/share/pixmaps/makedown.png

      - name: Create control file
        run: |
          cp debian/control makedown_deb/DEBIAN/control
          chmod 644 makedown_deb/DEBIAN/control
 

      - name: Build .deb package
        run: |
          dpkg-deb --build makedown_deb

      - name: Upload .deb artifact
        uses: actions/upload-artifact@v4
        with:
          name: makedown
          path: makedown.deb

      - name: Upload .deb to GitHub Release
        if: startsWith(github.ref, 'refs/tags/v')
        uses: softprops/action-gh-release@v2
        with:
          files: makedown.deb
